* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* NAVBAR */
li {
    list-style-type: none;
}

.links ul {
    height: 60px;
    width: 700px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}

.links ul li {
    height: 40px;
    width: 70px;
    background-color: violet;
}

nav {
    min-width: 1300px;
    height: 70px;
    background-color: rgba(10, 10, 201, 0.403);
    display: flex;
    justify-content: center;
    align-items: center;
}

nav .container {
    min-width: 1300px;
    height: 60px;
    background-color: red;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo, .login {
    height: 60px;
    width: 110px;
    background-color: blueviolet;
}

.links {
    height: 60px;
    width: 700px;
    background-color: blueviolet;
}
/* /NAVBAR */

/* HEADER */
header {
    height: 500px;
    background-color: rgb(84, 84, 252);
    display: flex;
    justify-content: center;
    align-items: center;
}

header .header-container {
    height: 300px;
    width: 700px;
    background-color: blue;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: space-around;
    gap: 20px;
}

.title {
    height: 50px;
    width: 450px;
    background-color: wheat;
}

.paragraph {
    height: 80px;
    width: 670px;
    background-color: white;
}

.download-button {
    height: 45px;
    width: 175px;
    background-color: blanchedalmond;
}

.browser-open-button {
    height: 45px;
    width: 255px;
    background-color: rgb(41, 39, 39);
}
/* /HEADER */

