* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* NAVBAR */
li {
    list-style-type: none;
}

.links ul {
    height: 60px;
    width: 700px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}

.links ul li {
    height: 40px;
    width: 70px;
    background-color: violet;
}

nav {
    min-width: 1300px;
    height: 70px;
    background-color: rgba(10, 10, 201, 0.403);
    display: flex;
    justify-content: center;
    align-items: center;
}

nav .container {
    min-width: 1300px;
    height: 60px;
    background-color: red;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo, .login {
    height: 60px;
    width: 110px;
    background-color: blueviolet;
}

.links {
    height: 60px;
    width: 700px;
    background-color: blueviolet;
}
/* /NAVBAR */

/* HEADER */
header {
    height: 500px;
    background-color: rgb(84, 84, 252);
    display: flex;
    justify-content: center;
    align-items: center;
}

header .header-container {
    height: 300px;
    width: 700px;
    background-color: blue;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: space-around;
    gap: 20px;
}

.title {
    height: 50px;
    width: 450px;
    background-color: wheat;
}

.paragraph {
    height: 80px;
    width: 670px;
    background-color: white;
}

.download-button {
    height: 45px;
    width: 175px;
    background-color: blanchedalmond;
}

.browser-open-button {
    height: 45px;
    width: 255px;
    background-color: rgb(41, 39, 39);
}
/* /HEADER */

/* MAIN*/
main .block {
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

main .block-final {
    height: 1200px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    gap: 70px;

}

main .one, .three {
    background-color: white;
}

main .two, .block-final {
    background-color: #f6f6f6;
}

.bo-image {
    height: 370px;
    width: 550px;
    background-color: rgb(41, 39, 39);
}

.bo-text {
    height: 370px;
    width: 370px;
    background-color: #f6f6f6;
}

.bt-text {
    height: 370px;
    width: 370px;
    background-color: white;
}

.bt-image {
    height: 370px;
    width: 550px;
    background-color: rgb(41, 39, 39);
}

.bth-image {
    height: 370px;
    width: 550px;
    background-color: rgb(41, 39, 39);
}

.bth-text {
    height: 370px;
    width: 370px;
    background-color: #f6f6f6;
}

.bf-text {
    height: 130px;
    width: 870px;
    background-color: white;
}

.bf-image {
    height: 500px;
    width: 970px;
    background-color: rgb(41, 39, 39);
}

.bf-text2 {
    height: 55px;
    width: 445px;
    background-color: white;
}

.download-button2 {
    height: 45px;
    width: 175px;
    background-color: #7289da;
}
/* /MAIN */

/* FOOTER */

footer {
    height: 550px;
    background-color: #23272a;
    display: flex;
    justify-content: center;
}

footer .footer-container {
    height: 550px;
    width: 1100px;
    background-color: #19191b;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: space-around;
}

.socials{
    height: 135px;
    width: 205px;
    background-color: #6c90e8;
}

.footer-end {
    width: 1100px;
    display: flex;
    justify-content: space-between;
}

.footer-list {
    height: 200px;
    width: 170px;
    background-color: #6c90e8;
}

.resources {
    height: 400px;
}

.signin {
    height: 60px;
    width: 110px;
    background-color: blueviolet;
}
/* /FOOTER */



